.sidebar__sidebarContainer {
  position: fixed;
  left: -400px;
  width: 200px;
  max-width: 300px;
  top: 0;
  color: white;
  z-index: 5;
  background-color: #5d8bad;
  height: 100vh;
  padding: 0 20px !important;
}

.sidebar__sidebarContainer.open {
  left: 0%;
}

.sidebar__sidebarContainer a {
  color: white !important;
}

.linkTitle {
  text-decoration: none;
  color: black;
  line-height: 1cm;
}

.sideBar__toggler {
  display: block;
  position: fixed;
  transform: rotate(+90deg) translate(0, 130%);
  top: 150px;
  color: white;
  z-index: 1;
  left: 0px;
  margin: 0;
  background-color: green;
  padding: 5px 10px;
  border: 0;
  border-radius: 10px 10px 0 0;
}

.sideBar__toggler.open:hover {
  background-color: rgb(138, 13, 13);
}
