@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reactPlayer {
  padding: 0 !important;
}

/* Typography */

body {
  background-color: #f2f3f5 !important;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #28253a;
}

h1 {
  font-size: 28px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 22px !important;
}

h5 {
  font-size: 20px !important;
}

h6 {
  font-size: 18px !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

/* Colors */

.bg-danger {
  color: black;
  background-color: rgb(255, 117, 117);
}

.bg-custom-light,
.bg-white {
  background-color: #fff !important;
}

a.active {
  color: orange;
}

.btn-custom-primary {
  background-color: rgb(115, 115, 218) !important;
  font-size: 13px !important;
  border-radius: 0px;
  color: white !important;
  padding: 3px 7px !important;
  transition: 400ms ease-in-out;
}

.btn-custom-primary:hover {
  background-color: rgb(194, 46, 243) !important;
  transition: 400ms ease-in-out;
}

.mainIcon {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

a,
a:hover {
  text-decoration: none !important;
  line-height: 1cm;
  color: black !important;
}

.App__margeBy15rem {
  max-width: 70%;
  margin: 1cm auto;
}

#videoPlayer {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

#videoPlayerSource {
  height: auto;
  width: auto;
}

@media only screen and (max-width: 800px) {
  .App__margeBy15rem {
    max-width: 90%;
    margin: auto;
  }
}
